---
const currentYear = new Date().getFullYear();

const resources = [
  { name: "Documentation", href: "/docs" },
  { name: "Component Directory", href: "/docs/api" },
  { name: "Altitude v0", href: "/resources/best-practices" }
];

const company = [
  { name: "About", href: "/about" },
  { name: "Blog", href: "/blog" },
  { name: "Careers", href: "https://www.thg.com/talent/job-search?division=Ingenuity+Technology&page=1" },
];
---

<footer class="bg-stone-950 mt-26 border-t border-stone-800 relative z-100" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto container px-6 pb-8 pt-16 sm:pt-24 lg:px-8 lg:pt-26">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="space-y-8">
        <img class="h-7" src="/icons/altitude-alt.svg" alt="THG Commerce">
        <p class="text-sm leading-6 text-stone-300">
          The edge developer eco-system.
        </p>
      </div>
      <div class="mt-16 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div class="mt-10 md:mt-0">
            <h3 class="text-sm font-semibold leading-6 text-white">Resources</h3>
            <ul role="list" class="mt-6 space-y-4">
              {resources.map((item) => (
                <li>
                  <a href={item.href} class="text-sm leading-6 text-stone-300 hover:text-white">
                    {item.name}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        </div>
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-sm font-semibold leading-6 text-white">Company</h3>
            <ul role="list" class="mt-6 space-y-4">
              {company.map((item) => (
                <li>
                  <a href={item.href} class="text-sm leading-6 text-stone-300 hover:text-white">
                    {item.name}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="border-t flex items-center justify-center border-stone-900/10 pt-8">
      <p class="text-xs flew-grow w-full leading-5 text-stone-400">&copy; {currentYear} THG Commerce. All rights reserved.</p>
      <iframe 
        src="https://thg-altitude.instatus.com/embed-status/40fdbec4/dark-sm" 
        width="230" 
        height="61"

        frameBorder="0" 
        scrolling="no" 
        style="border: none; flex: 0; align-items: center;"
      ></iframe>
    </div>
  </div>
</footer>